---
import HeaderButton from "../components/HeaderButton.astro";
import { Counter } from './Counter';

const menuItems = [
  { name: '칔ltimos lanzamientos', link: '/' },
  { name: 'Sobre el proyecto', link: '/about' },
  { name: 'Los m치s viejos', link: '/oldest' }
];
---

<header transition:persist class="py-12 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      Space X Launches 游
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
      All the information about SpaceX launches
    </p>
  </div>

  <Counter client:visible/>

  <nav class="flex flex-col mt-4 items-center justify-between w-full text-center md:flex-row">
    <div class="hidden md:flex space-x-4">
      {menuItems.map((item) => (
        <HeaderButton class="text-white" href={item.link}>
          {item.name}
        </HeaderButton>
      ))}
    </div>

    <!-- Bot칩n hamburguesa para m칩viles -->
    <button id="menuButton" class="md:hidden flex items-center text-white focus:outline-none" aria-label="Menu">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>

    <!-- Men칰 desplegable para pantallas peque침as -->
    <div id="mobileMenu" class="md:hidden bg-gray-800 hidden transition-all duration-300">
      <ul class="flex flex-col space-y-2 p-4 text-lg">
        {menuItems.map((item) => (
          <li>
            <a href={item.link} class="hover:text-gray-300 transition-colors duration-300">
              {item.name}
            </a>
          </li>
        ))}
      </ul>
    </div>
  </nav>
</header>

<style>
  .container {
    max-width: 1200px;
  }
</style>

<!-- Script simple con verificaci칩n de null -->
<script>
  const menuButton = document.getElementById('menuButton');
  const mobileMenu = document.getElementById('mobileMenu');

  if (menuButton && mobileMenu) {
    menuButton.onclick = () => {
      mobileMenu.classList.toggle('hidden');
    };
  }
</script>
